*{margin: 0;padding: 0;}
body{min-height: 1000px;max-width: 1200px;margin: 0 auto;margin-bottom: 100px;}
h1{text-align: center;line-height: 3em;}
h2,h3{line-height: 3em;}
p{text-indent: 2em;line-height: 1.5em;margin-bottom: 5px;}
.text-center{text-align: center;line-height: 2em;}
.dialogue p{padding-left: 4em;text-indent: -4em;}
.dialogue_en p{padding-left: 1.5em;text-indent: -1.5em;}
.title{font-weight: 700; font-size: 20px;text-align: left;}
.title2{font-weight: 700; font-size: 18px;text-align: left;}
table{margin:30px auto;}
td{padding: 5px 15px;}
